.container {
  max-width: 120rem; // 1rem = 10px, 120rem = 1200px
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
}

// flex container
.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  // flex-directionの方向に対しての current main axis -この場合、縦方向だから　justify-content 
  // current cross -この場合、横方向だから axis align-content
  justify-content: space-between;

}

.hotel-view {
  background-color: #fff;
  // flex: 1 - as much as they can grow
  flex: 1;
}

// DETAIL 
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

// DESCRIPTION
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  // occupy 60% of detail
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

// USER REVIEWS
.user-reviews {
  background-color: yellow;
  // remaining space 100 - 60 = 40 rest of detail
  flex: 1;
}